/* Write your CSS here */
.project-img {
  height: 100%;
  width: 100%;
  align-items: center;
}
.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-time {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.project-heading {
  font-size: 22px;
}
.project-icon {
  margin-right: 2px;
}

.project-description {
  color: #1e293b;
  font-size: 18px;
}
.visit-link {
  text-decoration: none;
  color: #0967d2;
  font-size: 18px;
}
